@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
.booking{
    font-family: 'Rubik', sans-serif;
}
.booking-card{
    width: 60%;
    margin: 0 auto;
}

@media only screen and (max-width: 992px) {
    .booking-card{
        width: 80%;
        margin: 0 auto;
    }
}